/*.bento-grid {
    background-color: #f5f5f7;
    color: white;
    padding: 1rem;
    margin: 1rem;
    max-width: 1200px;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 20px;
    grid-template-areas:
        'box1 box2'
        'box3 box4';
    border-radius: 4rem;
}

    .bento-grid .bento-box {
        color: #4446bf;
        background-color: white;
        border-radius: 3rem;
        padding: 5rem;*/
        /*box-shadow: 7px 7px 12px rgb(0, 0, 0, .5), -7px -7px 12px rgb(255, 255, 255,.5);*/
    /*}

@media (max-width: 920px){
    .bento-grid {
        grid-template-areas:
            'box1'
            'box2'
            'box3'
            'box4';
    }
}*/

.bento-item {
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease;
}

    .bento-item:hover {
        transform: scale(1.05);
    }

.bento-tall {
    height: 410px;
}
